<%-include('header')-%>



<section class="main">
  <div class="container py-5 h-100 sub-cl">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div
          class="card bg-white bg-opacity-10 text-white card-sec"
          style="border-radius: 1rem"
        >
          <div class="card-body p-5 text-center">
            <div class="mt-md-4">
             
              <h2 class="fw-bold mb-4 text-uppercase ">EDIT</h2>
              <% if(locals.msg) {%>
                <div id="errorDiv" class="alert alert-danger">
                  <strong><%=msg%>
                  </strong>
                </div>
              <%}%>
              <form action="/edit/<%-data._id%>" method="POST">
                <div class="form-outline form-primary mb-4">
                    <input
                      name="name"
                      type="name"
                      id="typename"
                      class="form-control form-control-lg"
                      placeholder=Name
                      value="<%=data.name%>"
                      required
                    />
                  </div>
                <div class="form-outline form-primary mb-4">
                  <input
                    name="email"
                    type="email"
                    id="typeEmailX"
                    class="form-control form-control-lg"
                    placeholder="Email"
                    value="<%=data.email%>"
                    required
                  />
                </div>
                <br />
                <br />
                <button class="btn btn-outline-light btn-lg px-5 b1" type="submit">
                  Save
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%-include('footer')-%>

    
